<div class="ed-petals" aria-hidden="true">
    <i style="--x:33%;--delay:-4.2s;--dur:16.8s;--drift:39px;--size:10px;--spin:-270deg"></i>
    <i style="--x:54%;--delay:-7.7s;--dur:13.3s;--drift:-44px;--size:17px;--spin:401deg"></i>
    <i style="--x:25%;--delay:-11.6s;--dur:13.1s;--drift:-46px;--size:13px;--spin:-344deg"></i>
    <i style="--x:42%;--delay:-4.1s;--dur:17.9s;--drift:35px;--size:14px;--spin:519deg"></i>
    <i style="--x:34%;--delay:-2.5s;--dur:14.8s;--drift:-65px;--size:13px;--spin:-409deg"></i>
    <i style="--x:76%;--delay:-9.9s;--dur:13.5s;--drift:-56px;--size:15px;--spin:480deg"></i>
    <i style="--x:60%;--delay:-2.3s;--dur:13.4s;--drift:-35px;--size:9px;--spin:580deg"></i>
    <i style="--x:38%;--delay:-7.3s;--dur:16.2s;--drift:39px;--size:12px;--spin:-471deg"></i>
    <i style="--x:28%;--delay:-8.9s;--dur:14.5s;--drift:-52px;--size:15px;--spin:584deg"></i>
    <i style="--x:74%;--delay:-2.8s;--dur:13.6s;--drift:-44px;--size:13px;--spin:-322deg"></i>
    <i style="--x:45%;--delay:-13.1s;--dur:13.3s;--drift:-32px;--size:14px;--spin:-406deg"></i>
    <i style="--x:89%;--delay:-13.4s;--dur:11.1s;--drift:50px;--size:11px;--spin:577deg"></i>
</div>
