<span class="template-cover-art template-cover-art--{{ template.layout }} template-cover-art--{{ template.code }}" style="{{ template.preview_style }}">
    <span class="template-cover-art__frame">
        <small>CONVITE DIGITAL</small>
        <span class="template-cover-art__monogram">M<span>&amp;</span>C</span>
        <strong>{{ template.name }}</strong>
        <i></i>
        <em>A nossa celebração</em>
        <button type="button" tabindex="-1">Abrir convite</button>
    </span>
</span>
