{% if field.field.widget.input_type == "checkbox" %}
<div class="col-md-6"><div class="detail-switch">{{ field }}<label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong>{% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}</label></div>{% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}</div>
{% else %}
<div class="{% if field.field.widget.input_type == 'textarea' %}col-12{% else %}col-md-6{% endif %}"><label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<span class="text-danger"> *</span>{% endif %}</label>{{ field }}{% if field.help_text %}<div class="form-text">{{ field.help_text }}</div>{% endif %}{% for error in field.errors %}<div class="invalid-feedback d-block">{{ error }}</div>{% endfor %}</div>
{% endif %}
